<?xml version="1.0"?>
<copy>

	<!-- NAS drive letter (with backslash!) -->
	<nasdrive value="Z:\"/>

	<!-- Destination folder on NAS (with backslash!) -->
	<nasfolder value="Backup\MyComputer\"/>

	<!-- List of folders to be copied from local machine to NAS -->
	<!-- One line per folder -->
	<!-- "from": complete path on local machine -->
	<!-- "to": name of destination folder (subfolder of "nasfolder", see above) -->
	<sourcefolder from="C:\MyDocuments" to="MyDocuments"/>
	
	<!-- USB device drive letter (with backslash!) -->
	<usbdrive value="E:\"/>
	
	<!-- wait time (in seconds) after info messages -->
	<waittime value="5"/>
  
</copy>