<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

<?define ProductId = {E00ADE45-F382-47C5-B6C2-647715412338} ?>
<?define UpgradeCode = {8D141C50-035C-4657-91DA-B264C3023032} ?>

<?define ProductName = RoboShell Backup ?>
<?define Manufacturer = Christian Specht ?>
<?define Description = A simple personal backup tool, using RoboCopy and written in Windows Powershell ?>

	<Product
			Id='$(var.ProductId)'
			Name='$(var.ProductName) $(env.productversion)'
			Language='1033' 
			Version='$(env.productversion)'
			Manufacturer='$(var.Manufacturer)'
			UpgradeCode='$(var.UpgradeCode)' >
			
		<Package 
				Description='$(var.Description)'
				Manufacturer='$(var.Manufacturer)'
				InstallerVersion='200'
				Compressed='yes' />	
		
		<Media Id='1' Cabinet='roboshellbackup.cab' EmbedCab='yes' />
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
		
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='$(var.ProductName)'>
					<Directory Id='DE' Name='de-DE' />
				</Directory>
			</Directory>
			
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="$(var.ProductName)">
					<Component Id="ProgramMenuDir" Guid="{BEDA5350-ED81-4705-9B69-8E8C864EB348}">
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue
						Root='HKCU' Key='Software\$(var.ProductName)'
						Type='string' Value='[INSTALLDIR]' KeyPath='yes'
						/>
						<Shortcut Id='ConfigShortcut' Name='Edit Config' Target='[WindowsFolder]notepad.exe' Arguments='Config.xml' Directory='ProgramMenuDir' WorkingDirectory='INSTALLDIR' />
						<Shortcut Id='ReadmeShortcut' Name='Readme' Target='[ARPREADME]' Directory='ProgramMenuDir' />
					</Component>
				</Directory>
			</Directory>
			
		</Directory>
		
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='Config' Guid='{9019E667-62BA-40AA-A8D8-62F766F534DB}'>
				<File Id='Config' Name='Config.xml' DiskId='1' Source='src\Config.xml' KeyPath='yes' />
			</Component>
			<Component Id='License' Guid='{7C708208-DA9E-4500-A208-7C1BC0F2BA5F}'>
				<File Id='License' Name='License.rtf' DiskId='1' Source='src\License.rtf' KeyPath='yes' />
			</Component>
			<Component Id='MessagesEN' Guid='{10F261E2-6CC1-4BBE-A464-718AB0C2B3E5}'>
				<File Id='MessagesEN' Name='messages.psd1' DiskId='1' Source='src\messages.psd1' KeyPath='yes' />
			</Component>
			<Component Id='NasToUsbBAT' Guid='{DAA77457-6B1D-4791-A345-842DA2A4BDA1}'>
				<File Id='NasToUsbBAT' Name='NasToUsb.bat' DiskId='1' Source='src\NasToUsb.bat' KeyPath='yes'>
					<Shortcut Id='NasToUsbShortcut' Directory='ProgramMenuDir' Name='Copy from NAS to USB' WorkingDirectory='INSTALLDIR' Advertise='yes' Icon='head.ico' IconIndex='0' />
				</File>
			</Component>
			<Component Id='NasToUsbPS1' Guid='{2D41DED2-4E7A-4B72-AF1A-2E2B406C7D19}'>
				<File Id='NasToUsbPS1' Name='NasToUsb.ps1' DiskId='1' Source='src\NasToUsb.ps1' KeyPath='yes' />
			</Component>
			<Component Id='PcToNasBAT' Guid='{C789A682-DA3C-42FF-88C8-B0CA101ADEA9}'>
				<File Id='PcToNasBAT' Name='PcToNas.bat' DiskId='1' Source='src\PcToNas.bat' KeyPath='yes'>
					<Shortcut Id='PcToNasShortcut' Directory='ProgramMenuDir' Name='Copy from PC to NAS' WorkingDirectory='INSTALLDIR' Advertise='yes' Icon='head.ico' IconIndex='0' />
				</File>
			</Component>
			<Component Id='PcToNasPS1' Guid='{B4873C1C-FFA1-4978-9833-1DBFFCD3C852}'>
				<File Id='PcToNasPS1' Name='PcToNas.ps1' DiskId='1' Source='src\PcToNas.ps1' KeyPath='yes' />
			</Component>
			<Component Id='Readme' Guid='{1ABC5043-F83B-480D-8C16-9A51728ED237}'>
				<File Id='Readme' Name='Readme.txt' DiskId='1' Source='README.markdown' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id='DE'>
			<Component Id='MessagesDE' Guid='{6CE4837F-BA18-4B17-A1F8-FD6300149FD8}'>
				<File Id='MessagesDE' Name='messages.psd1' DiskId='1' Source='src\de-DE\messages.psd1' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		
		<Feature Id='Complete' Title='$(var.ProductName)' Level='1' Display='expand' ConfigurableDirectory='INSTALLDIR'>
			<ComponentRef Id='ProgramMenuDir' />
			<ComponentRef Id='Config' />
			<ComponentRef Id='License' />
			<ComponentRef Id='MessagesDE' />
			<ComponentRef Id='MessagesEN' />
			<ComponentRef Id='NasToUsbBAT' />
			<ComponentRef Id='NasToUsbPS1' />
			<ComponentRef Id='PcToNasBAT' />
			<ComponentRef Id='PcToNasPS1' />
			<ComponentRef Id='Readme' />
		</Feature>
		
		<InstallExecuteSequence>
			<Custom Action='LaunchFile' After='InstallFinalize'>NOT Installed</Custom>
		</InstallExecuteSequence>
		
		<MajorUpgrade
			DowngradeErrorMessage='A later version of [ProductName] is already installed. Setup will now exit.' />
		
		<Property Id='NOTEPAD'>Notepad.exe</Property>
		<CustomAction Id='LaunchFile' Property='NOTEPAD' ExeCommand='[INSTALLDIR]Config.xml' Return='asyncNoWait' />
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<WixVariable Id="WixUILicenseRtf" Value="src\License.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value='wix\wixbanner.bmp' />
		<WixVariable Id="WixUIDialogBmp" Value='wix\wixdialog.bmp' />
		<Icon Id='head.ico' SourceFile='img\head.ico' />
		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />
		
		<Property Id='ARPCOMMENTS'>$(var.Description)</Property>
		<Property Id='ARPHELPLINK'>https://bitbucket.org/christianspecht/roboshell-backup/wiki</Property>
		<Property Id='ARPREADME'>https://bitbucket.org/christianspecht/roboshell-backup/overview</Property>
		<Property Id='ARPURLINFOABOUT'>http://christianspecht.bitbucket.org/</Property>
		<Property Id='ARPURLUPDATEINFO'>https://bitbucket.org/christianspecht/roboshell-backup/downloads</Property>
		<Property Id='ARPPRODUCTICON'>head.ico</Property>
		
	</Product>
</Wix>
