<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

	<Product
			Id='{e00ade45-f382-47c5-b6c2-647715412338}'
			Name='RoboShell Backup'
			Language='1033' 
			Version='1.0.0.0'
			Manufacturer='Christian Specht'
			UpgradeCode='{8d141c50-035c-4657-91da-b264c3023032}' >
			
		<Package 
				Description='A simple personal backup tool, using RoboCopy and written in Windows Powershell'
				Manufacturer='Christian Specht'
				InstallerVersion='200'
				Compressed='yes' />	
		
		<Media Id='1' Cabinet='roboshellbackup.cab' EmbedCab='yes' />
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='RoboShell Backup' />
			</Directory>	
		</Directory>
		
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='Config' Guid='{9019e667-62ba-40aa-a8d8-62f766f534db}'>
				<File Id='Config' Name='Config.xml' DiskId='1' Source='src\Config.xml' KeyPath='yes' />
			</Component>			
		</DirectoryRef>
		
		<Feature Id='Complete' Title='RoboShell Backup' Level='1' Display='expand'>
			<ComponentRef Id='Config' />
		</Feature>
	
	</Product>
</Wix>
