<?xml version="1.0"?>
<copy>

	<!--
	
	###############################################################################
	#
	#	PLEASE NOTE:
	#
	#	Before you run RoboShell Backup for the first time, you
	#	need to change the values below according to your setup.
	#
	#	You can also open this file from the Start Menu later.
	#
	#	See the project site for more information:
	#	http://christianspecht.de/roboshell-backup
	#
	###############################################################################
	
	-->

	<!-- NAS drive letter (with backslash!) -->
	<nasdrive value="Z:\"/>

	<!-- Destination folder on NAS (with backslash!) -->
	<nasfolder value="Backup\MyComputer\"/>

	<!--
	List of folders to be copied from local machine to NAS
	One line per folder
		"from": complete path on local machine
		"to": name of destination folder (subfolder of "nasfolder", see above)
		"ignorefolders" (optional):
			List of subfolders to ignore (will be used with Robocopy's /xd parameter).
			Separate multiple folders with "|"
			Example: ignorefolders="Folder1|Folder2"
		"ignorefiles" (optional):
			List of files to ignore (will be used with Robocopy's /xf parameter).
			Separate multiple files with "|"
			Example: ignorefiles="File1.txt|*.pdf"
	-->
	<sourcefolder from="C:\MyDocuments" to="MyDocuments"/>
	
	<!-- USB device drive letter (with backslash!) -->
	<usbdrive value="E:\"/>
	
	<!-- wait time (in seconds) after info messages -->
	<waittime value="5"/>
	
	<!-- show ASCII logo on startup (0 or 1) -->
	<showlogo value="1"/>
	
	<!--
	TrueCrypt settings, to enable RoboShell Backup to write to an TrueCrypt-encrypted USB drive (TrueCrypt is free and open source)
	You have to set up each USB drive once in order for this to work.
	Read this for more instructions: http://christianspecht.de/2012/04/30/roboshell-backup-1-1-now-with-truecrypt-integration/
	If you don't want to encrypt your USB drive, just don't touch these settings.
	
	Values:
	"enabled": set to 1 to enable TrueCrypt mode
	"exepath": folder and path of TrueCrypt.exe on USB drive (without drive letter - this will be taken from the "usbdrive" value above)
	"volume": folder and path of TrueCrypt volume on USB drive (again, without drive letter)
	"mountto": drive letter to mount the volume to (with backslash, must be unused)
	-->
	<truecrypt enabled="0" exepath="truecrypt\truecrypt.exe" volume="Backup" mountto="X:\"/>

</copy>